body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.note{
    font-size: 4rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    align-self: center;
    transition: 1s ease-in;
}
.deactive{
    display: none;
}

.active{
    display: block;
}

